<div class="container-fluid notepad-application">
  <div class="container">
    <br>
    <div class="main-title">Notepad application</div>
  </div>

  <div class="container notepad-container">
    <div class="row action-row">
      <label class="col col-md-4 input-label">
        Notepad title
        <input class="form-control" type="text" [(ngModel)]="notepad.title" placeholder="My notepad title..." />
      </label>

      <div class="col offset-md-4 col-md-4 action-button-group">
        <br>
        <button type="button" class="btn btn-light view-stats" ngbButton routerLink="/stats">View stats</button>
        <button type="button" class="btn btn-primary save" (click)="saveNotepadState()" ngbButton>Save</button>
        <button type="button" class="btn btn-danger delete" (click)="resetNotepadState()" ngbButton>Delete</button>
      </div>
    </div>

    <div class="my-notes-header">My notes</div>

    <div class="new-note-container row">
      <div class="col col-md-6">
        <div class="row">
          <label class="col col-md-10">
            <input class="form-control" type="text" [(ngModel)]="newNote.title" placeholder="Enter note title" />
          </label>
        </div>

        <div class="row">
          <label class="col col-md-10">
            <textarea class="form-control" [(ngModel)]="newNote.description"></textarea>
          </label>
        </div>

        <div class="row">
          <button class="col col-md-2 btn btn-success add-new-note" ngbButton (click)="addNote(newNote)">Add</button>
        </div>
      </div>
    </div>

    <br>

    <div class="notes-container">
      <div class="note row" *ngFor="let note of notes">
        <app-note class="col col-md-6" [note]="note" (noteDelete)="onNoteDelete()"></app-note>
      </div>
    </div>
  </div>
</div>
